
@model  LogIn.Models.User
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item">Fullname : @Model.FullName</li>
            <li class="list-group-item">Email : @Model.Email</li>
        </ul>
    </div>
</div>
